html {
	min-height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	position: relative;
	margin: 0 auto 0 auto;
	width: full;
	max-width: 1100px;
	min-width: 705px;
	height: full;
	padding: 0px;
	overflow: none;
}

#header {
	position: relative;
	margin: 0 0 0 0;
	height: 70px;
	width: full;
	padding-top: 10px;
	background-color: #d4d4d4;
	border-bottom: 2px solid #0c73a7;
	border-radius: 0 0 2px 2px;
}

#header > p {
	position: relative;
	line-height: 20px;
	width: 300px;
}

#page-title {
	font-family: arial, sans-serif;
	font-size: 20px;
	color: #FC510B;
	margin: 10px 0 0 15px;
}

#credit {
	font-family: arial, sans-serif;
	font-size: 16px;
	color: #FC510B;
	margin: 10px 0 0 15px;
}

#toggle-holder {
	position: relative;
	top: -10px;
	right: 10px;
	float: right;
	height: 38px;
	width: 138px;
	border: solid 1px black;
	font-family: arial, sans-serif;
	font-size: 20px;
	color: #FC510B;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

#under-header-body {
	z-index: -1;
	position: absolute;
	height: 655px;
	width: 100%;
	background-color: #FC510B;
	padding: 0px;
	margin: 0px;
}

#left-div, #right-div {
	display: inline-block;
	position: relative;
	height: 630px;
	width: 35%;
	max-width: 665px;
	background-color: #88d2f7;
}

#left-div {
	float:left;
	margin-right: -400px;
	border-radius: 0 30px 300px 50px;
	border-right: solid 2px #0c73a7;
	border-bottom: solid 2px #0c73a7;
}

#right-div {
	float: right;
	margin-left: -400px;
	top: -500px;
	border-radius: 30px 0px 50px 300px;
	border-left: solid 2px #0c73a7;
	border-bottom: solid 2px #0c73a7;
}

#settings-holder {
	z-index: 3;
	display: block;
	position: relative;
	height: 448px;
	width: 448px;
	margin: 50px auto 0px auto;
	background-color: white;
	border-radius: 300px;
	border: solid 1px black;
}

#timer-holder {
	height: 120px;
	width: 350px;
	margin: 90px auto 0px auto;
	border-radius: 10px;
}

#timer-holder > * { 
	display: inline-block;
	font-family: trebuchet ms, sans-serif;
	font-size: 85px;
	margin: auto;
}

.timer {
	height: 85px;
	width: 90px;
	text-align: center;
}

#timer-holder > p {
	position: relative;
	height: 80px;
	top: -5px;
}

#setting-buttons {
	width: 350px;
	height: 70px;
	position: relative;
	margin: 0 auto 0 auto;	
}

#min-settings, #sec-settings {
	display: inline-block;
	margin: 0 0 0 35px;
}

#min-settings > p, #sec-settings > p  {
	display: inline-block;
	height: 30px;
	width: 45px;
	font-family: trebuchet ms, sans-serif;
	text-align: center;
	font-size: 25px;
	position: relative;
	top: -5px;
	border: 1px solid black;
}

.chevron {
	width: 30px;
	height: 30px;
}

#setting-buttons-label {
	height: 50px;
	width: 350px;
	margin: 0 auto 0 auto;
}

#setting-buttons-label > p {
	width: 100px;
	display: inline;
	font-family: trebuchet ms, sans-serif;
	font-size: 30px;
	margin-top: 10px;
}

#track-time {
	margin: 0 0 0 20px;
}

#pit-time {
	margin: 0 0 0 15px;
}


#go-stop-buttons {
	margin: 20px 0 0 0;

}

.button {
	height: 50px;
	width: 100px;
	border-radius: 6px;
	font-family: trebuchet ms, sans-serif;
	font-size: 20px;
	display: inline-block;
	border: 1px solid black;
	margin: 0 auto 0 auto;
}

#timer-go {
	margin: 0 0 0 110px;
}

#timer-stop {
	position: relative;
	top: -13px;
	margin: 0 0 0 20px;
}